
        <div class="card-content white-text">
        <span class="card-title">
        <h2>Main Item Sheet</h2>
       </span>
        <p class="section">This your MAIN item sheet that contains all of your inventory items. You can edit any of the fields if they need updating, delete by line or
          simply gaze in wonder at the awesome things you have! Editing this sheet will not impact previous inventories, because magic.</p> 
        </div>

        <div class="row"> 
            <form class="white-text logo-push">
            {{#each mainInventory}}
            {{!-- <p>Item Id:</p>  --}}
            <h3>{{unit_name}}   -  {{unit_category}} </h3>
            <div class="row section form-section">
            <div class="col s6 l6">
            <p>Distributor:</p>
            <input class="input-field form-text" type="text" placeholder={{unit_distributor}}>
            <p>Unit Price:</p>
            <input class="input-field white-text form-text" type="number" placeholder={{unit_price}}>
            <p>Item Count Type:</p>
            <input class="input-field white-text form-text" type="text" placeholder={{item_count_type}}>
            </div>
            
            <div class="col s6 l6">
            <p>Unit Par:</p>
            <input class="input-field white-text form-text" type="number" placeholder={{unit_par}}>
            <p>Item Par:</p>
            <input class="input-field white-text form-text" type="number" placeholder={{item_count_par}}>
            <p>Items Per Unit:</p>
            <input class="input-field white-text form-text" type="number" placeholder={{items_per_unit}}>
            </div>

            </div>
        {{/each}}
         </form>
              </div>
              <div class="row">    
                          
              <button class="ui button lime accent-2 right button-right-margin" type= "submit" id="updateInventory">
              <p class="black-font">Update Inventory</p>
              </button>

            <a href="/newitem"  <button class="ui button lime accent-2 right button-right-margin">
              <p class="black-font">Add New Items</p>
              </button> </a>

              </div>