<input type="hidden" id="{{id}}" data-attribute="{{id}}" value="{{id}}">
        <div class="card-content white-text">
        <span class="card-title"><h2>COGS</h2></span>
         <p>Please enter in your account information below.</p>
        </div>

        <form class="white-text logo-push">    
        <h3>Inventory Date:  </h3>
        <h3 class="right">{{#with previousInventory}}
            {{[0].dataValues.Inventory.dataValues.inventory_date}} 
            {{/with}}
        </h3>

        {{#each previousInventory}}
        {{!-- <p>Item Id:</p>  --}}
        <h3>{{unit_name}}   -  {{unit_category}} </h3>
        <div class="row section form-section">
        <div class="col s4 l4">
        <p>Distributor:</p>
        <input class="input-field form-text" type="text" placeholder={{unit_distributor}}>
        <p>Unit Price:</p>
        <input class="input-field white-text form-text" type="number" placeholder={{unit_price}}>
        <p>Item Count Type:</p>
        <input class="input-field white-text form-text" type="text" placeholder={{item_count_type}}>
        </div>
        
        <div class="col s4 l4">
        <p>Unit Par:</p>
        <input class="input-field white-text form-text" type="number" placeholder={{unit_par}}>
        <p>Item Par:</p>
        <input class="input-field white-text form-text" type="number" placeholder={{item_count_par}}>
        <p>Items Per Unit:</p>
        <input class="input-field white-text form-text" type="number" placeholder={{items_per_unit}}>
        </div>

        <div class="col s4 l4">
        <p class="form-text">Unit Count:</p>
        <input class="input-field form-text" type="number" placeholder={{unit_count}}>
        <p class="form-text">Item Count:</p>
        <input class="input-field form-text" type="number" placeholder={{item_count}}>
        <p class="form-text">Total Value:</p>
        <input class="input-field form-text" type="number" placeholder={{total_value}}>
        </div>
        </div>
        {{/each}}
    </form>
</div>