<table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item Id</th>
                        <th scope="col">Unit Name</th>
                        <th scope="col">Unit Category</th>
                        <th scope="col">Unit Distributor</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Unit Par</th>
                        <th scope="col">Items Per Unit</th>
                        <th scope="col">Item Count Type</th>
                        <th scope="col">Item Count Par</th>
                        <th scope="col">Unit Count</th>
                        <th scope="col">Item Count</th>
                        <th scope="col">Total Value</th>
                        <th scope="col">Inventory Id</th>
                        <th scope="col">Inventory Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each weeklyInventoryItems}}
                    <tr>
                        <td>{{id}}</th>
                        <td>{{unit_name}}</th>
                        <td>{{unit_category}}</td>
                        <td>{{unit_distributor}}</td>
                        <td>{{unit_price}}</td>
                        <td>{{unit_par}}</td>
                        <td>{{items_per_unit}}</td>
                        <td>{{item_count_type}}</td>
                        <td>{{item_count_par}}</td>
                        <td>{{unit_count}}</td>
                        <td>{{item_count}}</td>
                        <td>{{total_value}}</td>
                        <td>{{InventoryId}}</td>
                        <td>{{Inventory.inventory_date}}</td>
                        <td><a href="/users/{{id}}"><button class="btn btn-primary btn-sm">View</button></a></td>
                        <td><button class="btn btn-danger btn-sm delete-user" data-id={{{id}}}>Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>